<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>380310654147-cj7gkp4mvtcok3ke7frm2939skkb6va7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380310654147-cj7gkp4mvtcok3ke7frm2939skkb6va7</string>
	<key>API_KEY</key>
	<string>AIzaSyBUlulP765IhYVnk8XJzV_BmDizlvBvkug</string>
	<key>GCM_SENDER_ID</key>
	<string>380310654147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tutorials.RNDM</string>
	<key>PROJECT_ID</key>
	<string>rndm-b1b0c</string>
	<key>STORAGE_BUCKET</key>
	<string>rndm-b1b0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380310654147:ios:e1a0506664f97081</string>
	<key>DATABASE_URL</key>
	<string>https://rndm-b1b0c.firebaseio.com</string>
</dict>
</plist>